---
const today = new Date();
---

<footer class='container mt-8'>
  <div class="justify-center flex gap-4 py-8 prose prose-invert text-sm">
    <a href="https://filippo-ferrando.github.io/rss.xml" class="text-gruvbox-aqua hover:text-gruvbox-aqua/80">RSS</a>
    <a rel="me" href="https://mastodon.social/@fferrando" class="text-gruvbox-aqua hover:text-gruvbox-aqua/80">Mastodon</a>
  </div>

	<div class='py-4 border-t border-gruvbox-bg3'>
    <div class="md:flex text-sm text-gruvbox-fg3 prose prose-invert justify-between">
      <div>Copyright © {today.getFullYear()} Filippo Ferrando</div>   
    </div>
	</div>
</footer>
