---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b border-gruvbox-bg3'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm text-gruvbox-orange'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4 text-gruvbox-fg2'>
		<p class='mb-3'>
			Filippo Ferrando is a graduate in Computer Science with extensive knowledge of Linux systems and Python programming.
		</p>
		<p>He currently works at{
			' '
		} 
		<a href="https://www.elemento.cloud/" target="_blank" rel="noopener noreferrer" class="underline text-gruvbox-aqua hover:text-gruvbox-aqua/80 transition-colors"> Elemento Cloud </a> to innovate in the world of cloud computing.</p>
	</div>
</div>


