---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="About Me"
	description="Some information about Filippo Ferrando"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">Hi There 👋, Fil Here!</h1>
            <Prose>
              <div class="text-lg">
                <p>I'm Filippo Ferrando, a Computer Science student at the University of Turin with a strong passion for racing and technology. My core competencies include networking, programming, and managing Unix-based systems.</p>
                <p>I consider myself a determined individual, always eager to learn new things, independent, and capable of solving various problems.</p>
              </div>
            </Prose>
          </div>
          <Image src={Ava} alt="Filippo Ferrando" width={300} class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>
        <div>
          <p>
            <p>Alongside my university studies, I work with <a href="https://elemento.cloud" target="_blank" class="underline">Elemento Cloud</a> to revolutionize the cloud services industry.</p>
      
            <p>My passion for karting has provided me with extensive knowledge of mechanics and driving. This enthusiasm led me to delve deeper into 2-stroke engines, exploring topics from basic physical phenomena to advanced tuning techniques. I've read numerous books on the subject and conducted experiments at home. Currently, I spend weekends working as a mechanic for a karting team, supporting a young driver competing in an Italian single-brand championship.</p>
      
            <p>I've been playing the guitar since the age of 6, dedicating nearly a decade to classical guitar studies and now focusing on electric guitar.</p>
      
            <p>I am particularly interested in virtualization and containerization technologies, with a strong focus on open-source solutions. I am currently working with tools such as KVM and Docker to optimize system efficiency and scalability.</p>
      
          </p>
        </div>
      </article>
      </article>
    </main>
  </div>
</BaseLayout>
