---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="About Me"
	description="Some information about Filippo Ferrando"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">Hi There 👋, Fil Here! </h1>
            <Prose>
              <div class="text-lg">
                <p>I'm a CS Student with the passion of racing, my strengths are definitely networking, programming and usage | management of unix-based systems.</p>
                <p>I consider myself a stubborn person but always ready to learn something new, independent and capable of solving problems of various kinds.</p>  
              </div>
            </Prose>
          </div>
          <Image src={Ava} alt="Filippo Ferrando" width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
        <div>
          <p>
            I have different passions such as Karting where I have learned many notions of mechanics and driving this passion made me much more involved in knowing more about 2-stroke engine, from basic physical phenomena to more advanced tuning so i've read many books on the argument and made some little experimentation at home.<br>
            I'm now working some weekends as a mechanic in a karting team, i'm following a young pilot who is competing in an Italian single-brand championship.<br><br>

            Also i'm a guitar player from the age of 6, i've studied classical guitar almost for 10 years and now i'm studying electric guitar.<br><br>

            I am very interested in the field of study I am following now, the topics that attract me most are Blockchain technologies, IoT and cybersecurity, i'm planning (after the bachelor degree @ UniTo) to undertake the studies of Cyber Security (although I have yet to decide which university) to perhaps become a Cyber Designer.<br><br>

            Working in the Computer Science (or actually any tech-related) field is not reduced only to carrying out the work itself, I believe instead that it is a way of approaching life; this sector requires constant updating of one's skills to always keep up and not everyone is willing to follow such a path. On my Github you can find more technical information about my skills. 
  
          </p>
        </div>
        </article>
      </article>
    </main>
  </div>
</BaseLayout>
