---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Filippo Ferrando
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <a class="font-bold">Website</a> developed by
    <a class="font-bold">Filippo Ferrando ⚡️</a>
  </div>
</footer>
<style>

</style>
